

body {
    padding-top: 50px;
    background: url(http://i.imgur.com/VDJzV0Q.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}


.centered {
    margin: 0 auto;
}

.circular {
    width: 300px;
    height: 300px;

    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;

    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

    background: url(../rsz_1rsz_img_0398.jpg) no-repeat;
    background-size: 300px 300px;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.pdf-viewer{
  margin-top: 60px;
  margin-left:auto;
  margin-right:auto;
  width:8.5in;
  height:11in;
}

.pdf{
  width:100%;
  height:100%;
}

/* media */
.media {
    text-align: center;
    padding: 5px 0px;
    color: #ffffff;
}

.media a {
    color: inherit;
}

.media span {
    color: inherit;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.media i {
    padding: 0px 10px; 
}

.media a:hover {
    color: gray;
}

/* Name */

.name {
    padding: 10px 0px ;
    text-align: center;
    color:gray;
    opacity: 50;


}

.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
    padding: 10px 0px ;
    text-align: left;
}

.letter {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
}

.vert-align {
    vertical-align: top;
    position: relative;
    top: 3px;
}

.text h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
    padding: 10px 0px ;
    text-align: left;
    font-size: 30px;
}

.text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
    padding: 10px 0px ;
    text-align: left;
    font-size: 25px;
}

.text p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
}


.text p a:hover {
    color: gray;
}

.name p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
}


.name p a:hover {
    color: gray;
}
