html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  /*background-color: rgb(238, 255, 254);*/
}

.container {
  text-align: center;
  font-family: helvetica, sans-serif;
  color: hsl(0, 0%, 50%);
}

a:-webkit-any-link {
  text-decoration: none;
  color: hsl(0, 0%, 50%);
}

a:hover {
  color: hsl(0, 0%, 20%);
}

h2 {
  font-size: xx-large;
}
.img-circle {
    height: auto; 
    width: auto; 
    border-radius: 50%;
}
#circular {
  margin: 0 auto;
  width: 300px;
  max-width: 100%;
  height: auto;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}
p {
  word-wrap: break-word;
}

.content-container p {
  font-size: x-large;
  margin: 0 auto;
  max-width: 80%
}


/*
.content-container {
  padding-top: 2em;
  padding-bottom: 4em;
}
*/

.footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer p {
  line-height: 0.25;
  font-size: medium;
  padding-left: 1em;
  padding-right: 1em;
}

.buttons {
  padding-top: 2em;
  padding-bottom: 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons a {
  display: inline-block;
  font-size: large;
  border-radius: 4px;
  color: #ffffff;
  border: 0.1em solid rgb(75, 168, 211);
  /* Border box brings down anchor text,
  border width has to be subtracted
  off of line-height for centering */
  background-color: rgb(54, 158, 204);
  height: 3em;
  line-height: 2.9em;
  width: 80%;
  margin-bottom: 0.5em;
}

.buttons a:hover {
  background-color: rgba(54, 158, 204, 0.75);
}

.resume {
  order: 1;
  -webkit-order: 1;
}

.github {
  order: 2;
  -webkit-order: 2;
}

@media screen and (min-width: 426px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
  }
  .buttons {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .buttons a {
    width: 8em;
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
}



@media screen and (max-height: 640px) {
  .container {
    height: auto;
  }
}
